.popup__button-save {
    margin-top: 45px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 46px;
    color: #fff;
    background-color: #000;
    border-radius: 2px;
    cursor: pointer;
    border: none;
}

@media screen and (min-width: 768px) {
    .popup__button-save {
        height: 50px;
        font-size: 18px;
        line-height: 22px;
    }
}

.popup__button-save:hover {
    transition: opacity .3s ease-in-out;
    opacity: 0.8;
}