.profile__edit-button {
    background-image: url(../../../images/profile-edit-button.svg);
    width: 18px;
    height: 18px;
    background-color: inherit;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    background-position: center;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .profile__edit-button {
        width: 24px;
        height: 24px;
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
    transition: opacity .3s ease-in-out;
}