.element__button-like {
    background-image: url(../../../images/element-button-like.svg);
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 37px;
    right: 20px;
    width: 22px;
    height: 19px;
    background-color: inherit;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}

.element__button-like:hover {
    opacity: 0.5;
}