.popup {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s linear;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 19px 0 19px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}